Tasca4.1/cataleg.dtd

<!ELEMENT cataleg (single | album)*>

<!-- ===== SINGLES ===== -->
<!ELEMENT single (titol, descripcio?, pais, idioma, genere*, grup, membres, durada)>
<!ATTLIST single codi CDATA #REQUIRED>

<!-- ===== ALBUMS ===== -->
<!ELEMENT album (titol, descripcio?, pais, idioma, genere*, grup, membres, numero_cançons, titols_cançons)>
<!ATTLIST album codi CDATA #REQUIRED>

<!ELEMENT numero_cançons (#PCDATA)>

<!-- ===== MEMBRES ===== -->
<!ELEMENT membres (membre+)>
<!ELEMENT membre (nom)>
<!ATTLIST membre sexe (home | dona) #REQUIRED>

<!ELEMENT nom (#PCDATA)>

<!-- ===== CANÇONS ===== -->
<!ELEMENT titols_cançons (canço+)>
<!ELEMENT canço (titol_canço, durada_canço)>
<!ATTLIST canço numero CDATA #REQUIRED>

<!ELEMENT titol_canço (#PCDATA)>
<!ELEMENT durada_canço (#PCDATA)>

<!-- ===== ELEMENTS SIMPLES ===== -->
<!ELEMENT titol (#PCDATA)>
<!ELEMENT descripcio (#PCDATA)>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT idioma (#PCDATA)>
<!ELEMENT genere (#PCDATA)>
<!ELEMENT grup (#PCDATA)>
<!ELEMENT durada (#PCDATA)>
